.userphoto {
    width: 200px;
    height: auto;
}
.selected {
    font-weight: bold;
}
.paginator {
    margin: 10px
}
.pageNumber {
    padding: 2px;
    border: 1px solid greenyellow;
}
.pageNumber.selectedPage {
    font-weight: bold;
    border-color: aquamarine;
}