
.header {
    grid-area: h;
    background-color: rgb(90, 97, 156);
}
.header img {
    width: 20px;
}
.loginBlock {
    float:right;
    
}

.item  {
    color: white;
    text-decoration: none;
}


.active {
    color: blue;
    text-decoration: none;
}