.app-wrapper {
    width: 1200px;
    margin: 0 auto;
    grid-template-areas: 'h h  '
    'n  c';
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /* grid-gap: 10px; */
}

.header {
    grid-area: h;
    background-color: rgb(90, 97, 156);
}
.header img {
    width: 20px;
}

.nav {
    grid-area: n;
    background-color: rgb(147, 123, 179)
}

.content {
    grid-area: c;
    background-color: aqua;
}