.dialogs {
display: grid;
grid-template-columns: 2fr 10fr;
/* background-color: rgb(66, 204, 214); */
}

.dialogsItems {
    padding: 20px;
    color: white;
}

.messages {
    padding: 10px;
    color: white;

}
.active2 {
    color: blue;
   text-decoration: none;
}
.item {
    color:white;
    text-decoration: none;
}


